# Default ignored files
/shelf/
/workspace.xml
__pycache__/

# Environments
venv/
.venv

*.log
*.logs
*.xml
*.iml
*.pyc

utils/user_settings.py  # игнорируем настройки пользователей


# Игнорировать все .toml файлы
*.toml

# Не игнорировать config_example.toml
!app/backend/configs/config_example.toml

# Игнорировать загруженные во время тестов фотки
app/backend/uploads/*