<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка изображения</title>
</head>
<body>
<h1>Загрузите изображение</h1>
<form id="uploadForm" enctype="multipart/form-data">
    <input type="file" id="imageInput" name="file" accept="image/*" required>
    <button type="submit">Загрузить</button>
</form>

<div id="result"></div>

<script>
    document.getElementById('uploadForm').onsubmit = async (event) => {
        event.preventDefault(); // предотвращаем стандартное поведение формы
        const formData = new FormData();
        const fileInput = document.getElementById('imageInput');
        formData.append('file', fileInput.files[0]);

        try {
            const response = await fetch('/run_neuro', {
                method: 'POST',
                body: formData
            });
            const result = await response.json();
            document.getElementById('result').innerText = `Файл: ${result.filename}, Сообщение: ${result.message}`;
        } catch (error) {
            console.error('Ошибка загрузки:', error);
            document.getElementById('result').innerText = 'Произошла ошибка при загрузке изображения.';
        }
    };
</script>
</body>
</html>